.elementor-testimonial__content {
    padding-bottom: 30px;
    @include media-breakpoint-up(lg) {
        padding-bottom: 0px;
    }
}
.elementor-swiper {
    .swiper-pagination-fraction {
        color: #000;
        font-family: "Oranienbaum";
        font-weight: normal;
        font-size: 29px;
        line-height: 35px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 110px;
        bottom: 21px;

        @include media-breakpoint-up(lg) {
            font-size: 53px;
            line-height: 62px;
            bottom: 5px;
        }

        &::before {
            content: "";
            display: block;
            background-image: url(/wp-content/themes/elementor-starter/assets/images/background-pagination.svg);
            width: 108px;
            height: 94px;
            bottom: -27px;
            left: 7px;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            z-index: -1;

            @include media-breakpoint-up(lg) {
                width: 206px;
                height: 203px;
                bottom: -65px;
                left: -47px;
            }
        }
    }

    .elementor-swiper-button {
        &.swiper-button-disabled {
            opacity: 1;
        }

        &.elementor-swiper-button-next {
            top: 87%;
            left: 59% !important;
            @include media-breakpoint-up(lg) {
                top: 93%;
                left: 59% !important;
            }

            &:before {
                content: "";
                display: block;
                background-image: url(/wp-content/themes/elementor-starter/assets/images/background-pagination.svg);
                width: 47px;
                height: 47px;
                bottom: -58px;
                left: 4px;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                z-index: -1;

                @include media-breakpoint-up(lg) {
                    bottom: -40px;
                    left: -44px;
                    width: 87px;
                    height: 90px;
                }
            }

            .eicon-chevron-right {
                position: relative;

                &:before {
                    content: url(/wp-content/themes/elementor-starter/assets/images/arrow-mobile-right.svg);
                    right: -34px;
                    position: absolute;
                    bottom: -44px;

                    @include media-breakpoint-up(lg) {
                        content: url(/wp-content/themes/elementor-starter/assets/images/arrow-right.svg);
                        right: -11px;
                        bottom: -10px;
                    }
                }
            }
        }

        &.elementor-swiper-button-prev {
            top: 91%;
            left: 32% !important;

            @include media-breakpoint-up(lg) {
                top: 93%;
                left: 41% !important;
            }

            &:before {
                content: "";
                display: block;
                background-image: url(/wp-content/themes/elementor-starter/assets/images/background-pagination.svg);
                width: 47px;
                height: 47px;
                bottom: -35px;
                left: -18px;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                z-index: -1;

                @include media-breakpoint-up(lg) {
                    bottom: -40px;
                    width: 87px;
                    height: 90px;
                    left: -44px;
                }
            }
        }

        .eicon-chevron-left {
            position: relative;
            transform: rotate(180deg) translate(2px, -2px);

            &:before {
                content: url(/wp-content/themes/elementor-starter/assets/images/arrow-mobile-right.svg);
                right: 1px;
                position: absolute;
                bottom: -2px;

                @include media-breakpoint-up(lg) {
                    content: url(/wp-content/themes/elementor-starter/assets/images/arrow-right.svg);
                    right: -10px;
                    bottom: -24px;
                }
            }
        }
    }

}

.swiper-accommodation {
    .swiper-slide {
        opacity: .3;

        img {
            height: 280px;
            object-fit: cover;
            width: 100%;

            @include media-breakpoint-up(lg) {
                height: 800px;
            }
        }

        &.swiper-slide-active {
            opacity: 1;
        }
    }

    .all-navigation {
        position: relative;
        max-width: 400px;
        margin: auto;
        margin-bottom: 100px;
    }

    .swiper-pagination-fraction {
        color: #000;
        font-family: "Oranienbaum";
        font-size: 29px;
        line-height: 35px;
        font-weight: normal;
        left: 50%;
        transform: translate(-50%, 0);
        width: 60px;
        bottom: -20px !important;

        @include media-breakpoint-up(lg) {
            font-size: 53px;
            line-height: 62px;
            width: 110px;
            bottom: -36px !important;
        }

        &::before {
            content: "";
            display: block;
            background-image: url(/wp-content/themes/elementor-starter/assets/images/background-pagination.svg);
            width: 90px;
            height: 90px;
            bottom: -25px;
            left: -17px;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            z-index: -1;

            @include media-breakpoint-up(lg) {
                width: 206px;
                height: 203px;
                bottom: -65px;
                left: -47px;
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 100%;
    }

    .swiper-button-next {
        left: 59%;
        background-size: 0px;

        @include media-breakpoint-up(lg) {
            left: 82%;
        }

        &::before {
            content: "";
            display: block;
            background-image: url(/wp-content/themes/elementor-starter/assets/images/background-pagination.svg);
            width: 47px;
            height: 47px;
            bottom: -2px;
            left: 0px;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            z-index: -1;

            @include media-breakpoint-up(lg) {
                width: 87px;
                height: 90px;
                bottom: -25px;
                left: -47px;
            }
        }

        &::after {
            content: url(/wp-content/themes/elementor-starter/assets/images/arrow-mobile-right.svg);
            right: -3px;
            bottom: 8px;
            padding-bottom: 17px;
            padding-left: 23px;

            @include media-breakpoint-up(lg) {
                content: url(/wp-content/themes/elementor-starter/assets/images/arrow-right.svg);
                position: absolute;
                right: 20px;
                bottom: 3px;
                padding-bottom: 0px;
                padding-left: 0px;
            }
        }
    }

    .swiper-button-prev {
        @include media-breakpoint-down(md) {
            left: 28%;
            background-size: 0px;
        }

        left: 10%;

        &::before {
            content: "";
            display: block;
            background-image: url(/wp-content/themes/elementor-starter/assets/images/background-pagination.svg);
            width: 47px;
            height: 47px;
            bottom: -2px;
            left: 2px;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            z-index: -1;

            @include media-breakpoint-up(lg) {
                width: 87px;
                height: 90px;
                bottom: -25px;
                left: -12px;
            }
        }

        &::after {
            content: url(/wp-content/themes/elementor-starter/assets/images/arrow-mobile-right.svg);
            transform: rotate(180deg) translate(2px, -2px);
            padding-left: 0px;
            padding-right: 24px;
            padding-bottom: 14px;

            @include media-breakpoint-up(lg) {
                content: url(/wp-content/themes/elementor-starter/assets/images/arrow-right.svg);
                padding-bottom: 0px;
            }
        }
    }
}

.single-post {
    .banner-bg {
        &::before {
            height: 57%;
        }
    }
}

.banner-bg {
    &::after {
        content: '';
        position: absolute;
        display: block;
        background-image: url(/wp-content/themes/elementor-starter/assets/images/bottom-dark-bg.png);
        width: 100%;
        height: 50%;
        z-index: 0;
        bottom: -25px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 38%;
        background-image: url(/wp-content/themes/elementor-starter/assets/images/top-banner-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px 69px;
        z-index: 1;

        @include media-breakpoint-up(lg) {
            background-position: 0px 81px;
        }
    }
}

.horizontal-swiper {
    .elementor-swiper {
        .elementor-swiper-button {
            &.elementor-swiper-button-next {
                top: 50%;
                left: 100% !important;
            }

            &.elementor-swiper-button-prev {
                top: 50%;
                left: 0% !important;
            }
        }
    }
}

.swiper-images {
    padding-left: 6%;

    @include media-breakpoint-up(lg) {
        padding-left: 0px;
    }

    .swiper-button-next {
        right: 0px;
        content: "";
        display: block;
        background-image: url(/wp-content/themes/elementor-starter/assets/images/background-pagination.svg);
        width: 65px;
        height: 65px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;

        @include media-breakpoint-up(lg) {
            right: 10px;
            width: 87px;
            height: 90px;
        }

        &::after {
            content: url(/wp-content/themes/elementor-starter/assets/images/arrow-mobile-right.svg);
            left: 30px;
            top: 2px;
            position: absolute;

            @include media-breakpoint-up(lg) {
                content: url(/wp-content/themes/elementor-starter/assets/images/arrow-right.svg);
                left: 39px;
                top: 19px;
            }
        }
    }

    .swiper-button-prev {
        left: 0px;
        content: "";
        display: none;
        background-image: url(/wp-content/themes/elementor-starter/assets/images/background-pagination.svg);
        width: 87px;
        height: 90px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        z-index: 2;

        @include media-breakpoint-up(lg) {
            left: -54%;
            display: block;
        }

        &::after {
            content: url(/wp-content/themes/elementor-starter/assets/images/arrow-right.svg);
            position: absolute;
            right: 38px;
            bottom: 23px;
            transform: rotate(180deg) translate(2px, -2px);
        }

        &.swiper-button-disabled {
            opacity: 0;
        }
    }

    .swiper-slide {
        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }

        &.swiper-slide {
            opacity: .3;
        }

        &.swiper-slide-next {
            opacity: .6;
        }

        &.swiper-slide-active {
            opacity: 1;
        }
    }
}

.elementor-widget-testimonial-carousel {
    h3 {
        color: var(--e-global-color-secondary) !important;
    }
}

/* What's On */
.bg-linear {
    background: linear-gradient(#000 0%, #0a3254 100%);
}

.related-block {
    @include media-breakpoint-up(lg) {
        padding-left: 10%;
        padding-right: 10%;
    }
}

.articles-block {
    @include media-breakpoint-up(lg) {
        padding-left: 10%;
        padding-right: 10%;
        margin-top: -6%;
        padding-bottom: 2%;
    }
}

.article {
    position: relative;
    border: 1px solid #D0C7BE;

    &__image {
        width: 100%;
        height: 200px !important;
        object-fit: cover;
        @include media-breakpoint-up(lg) {
            height: 300px !important;
        }
    }

    &__info {
        padding: 20px;

        h3 {
            color: var(--e-global-color-secondary) !important;
            padding-bottom: 10px;
        }
    }
    &__twolinks {
        text-align: center;
        @include media-breakpoint-up(lg) {
            text-align: left;
        }
    }

    &__btn {
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        font-family: "Open Sans", Sans-serif;
        color: var(--e-global-color-secondary);
        text-transform: uppercase;
        text-align: left;
        padding-left: 0px;
        @include media-breakpoint-up(lg) {
            font-size: 16px;
        }
    }
}

.swiper-posts {
    @include media-breakpoint-up(lg) {
        margin-left: -14%;
    }

    .swiper-button-next {
        display: none;
    }

    .swiper-button-prev {
        content: "";
        display: block;
        background-image: url(/wp-content/themes/elementor-starter/assets/images/background-pagination.svg);
        width: 65px;
        height: 65px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        z-index: 2;
        @include media-breakpoint-up(lg) {
            width: 87px;
            height: 90px;
        }

        &::after {
            position: absolute;
            content: url(/wp-content/themes/elementor-starter/assets/images/arrow-mobile-right.svg);
            right: 29px;
            bottom: 5px;
            transform: rotate(180deg) translate(2px, -2px);
            @include media-breakpoint-up(lg) {
                right: 38px;
                bottom: 23px;
                content: url(/wp-content/themes/elementor-starter/assets/images/arrow-right.svg);
            }
        }
    }

    .swiper-slide {
        &.swiper-slide-active {
            opacity: 1;

            @include media-breakpoint-up(lg) {
                opacity: 0.3;
            }
        }

        &.swiper-slide-next {
            opacity: 1;

            @include media-breakpoint-up(lg) {
                opacity: 0.6;
            }
        }
    }
}

.accommodation-right {
    margin-left: 8%;

    .expanded {
        min-width: 400px;
        margin-right: 20px;
    }
}

.swiper-rooms-left {
    margin-left: -8%;
    margin-right: 8%;

    .swiper-slide {
        opacity: 1;

        &.swiper-slide-active {
            opacity: 0.6;
        }

        &.swiper-slide-next {
            opacity: 0.3;
        }
    }

    .swiper-button-next {
        display: none;
    }

    .swiper-button-prev {
        content: "";
        display: block;
        background-image: url(/wp-content/themes/elementor-starter/assets/images/background-pagination.svg);
        width: 87px;
        height: 90px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        z-index: 2;

        &::after {
            content: url(/wp-content/themes/elementor-starter/assets/images/arrow-right.svg);
            position: absolute;
            right: 38px;
            bottom: 23px;
            transform: rotate(180deg) translate(2px, -2px);
        }
    }
}

.swiper-rooms-right {
    margin-right: -8%;
    margin-left: 8%;

    .swiper-slide {
        opacity: 0.3;

        &.swiper-slide-next {
            opacity: 0.6;
        }

        &.swiper-slide-active {
            opacity: 1;
        }
    }

    .swiper-button-prev {
        display: none;
    }

    .swiper-button-next {
        content: "";
        display: block;
        background-image: url(/wp-content/themes/elementor-starter/assets/images/background-pagination.svg);
        width: 87px;
        height: 90px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;

        &::after {
            content: url(/wp-content/themes/elementor-starter/assets/images/arrow-right.svg);
            left: 39px;
            top: 19px;
            position: absolute;
        }
    }
}

.review {
    border: 1px solid #D0C7BE;
    min-height: 490px;
    margin-bottom: 57px;

    &__info {
        padding: 40px;

        h3 {
            color: #D0C7BE !important;
        }
    }

    &__namedate {
        color: #D0C7BE;
    }

    &__text {
        padding-top: 15px;
        padding-bottom: 5px;
    }
}

.elementor-location-footer {
    .elementor-heading-title {
        a {
            &:hover {
                font-weight: bold;
            }
        }
    }
}

.two-buttons {

    .elementor-widget-button,
    .elementor-widget-button:not(:last-child) {
        max-width: max-content;
        margin-bottom: 0px;

        &.second-button {
            margin-left: 30px;
        }
    }
}

#slider-text-and-images {
    .elementor-swiper .elementor-swiper-button.elementor-swiper-button-next {
        top: 52%;
        right: 33% !important;
        left: auto !important;

        &:before {
            left: -49px;
        }

        .eicon-chevron-right:before {
            right: -5px;
            bottom: -10px;
        }
    }

    .elementor-swiper .elementor-swiper-button.elementor-swiper-button-prev {
        top: 52%;
        left: 0% !important;

        &:before {
            left: -41px;
        }

        .eicon-chevron-left:before {
            right: -7px;
        }
    }

    .swiper-slide-inner {
        padding: 16px;
    }

    .swiper-slide-contents {
        .col-8 {
            img {
                min-width: 100%;
                min-height: 600px !important;
                object-fit: cover;
            }
        }

        .col-4 {
            text-align: left;
            display: flex;

            .content-slider {
                display: flex;
                flex-direction: column;
                justify-content: center;

                &__border {
                    border: 1px solid var(--e-global-color-secondary);
                    padding: 60px 90px;
                }

                .h3 {
                    font-size: 60px;
                    line-height: 70px;
                    color: var(--e-global-color-secondary);
                }

                p {
                    font-size: 16px;
                    line-height: 26px;
                }

                .btn {
                    text-align: left;
                    padding: 0px;
                    font-size: 16px;
                    font-weight: normal;
                    text-transform: uppercase;
                    line-height: 22px;
                    color: var(--e-global-color-secondary);
                }
            }
        }
    }
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    /* 16:9*/
    position: relative;

    iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.flip-box-suites {
    .elementor-flip-box {
        &__layer__description {
            max-width: 60%;
            margin: auto;

            .btn {
                font-size: 16px;
                font-weight: 500;
                line-height: 22px;
                font-family: "Gill Sans", Sans-serif;
                color: var(--e-global-color-secondary);
                text-transform: uppercase;
                text-align: left;
                padding-left: 0px;
            }
        }
    }
}
.specials-block {
    .elementor-post__text {
        padding: 20px;
        a.elementor-post__read-more {
            &::after {
                content: '';
                background: url(/wp-content/themes/elementor-starter/assets/images/icon-link.svg);
                width: 35px;
                height: 33px;
                display: inline-block;
                background-repeat: no-repeat;
                background-size: contain;
                transform: translate(8px, 11px);
                transition: all 0.3s;
              } 
              &:hover {
                color: var(--e-global-color-secondary);
              }
              &:hover::after {
                background: url(/wp-content/themes/elementor-starter/assets/images/icon-a-hover.svg);
                -webkit-transform: translate(15px, 11px); 
                -o-transform: translate(15px, 11px);
                transform: translate(15px, 11px);
                background-repeat: no-repeat;
                background-size: contain;
                width: 35px;
                height: 33px;
              }
        }
    }
}
.elementor-flip-box__layer.elementor-flip-box__back {
    &:hover::after {
        content: '';
        background: url(/wp-content/themes/elementor-starter/assets/images/overlay-bars.png);
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        top: 0px;
    }
    .elementor-flip-box__layer__inner {
        z-index: 1;

        .btn {
            font-family: "Gill Sans", Sans-serif;
            font-size: 16px;
            font-weight: normal;
            text-transform: uppercase;
            line-height: 22px;
            color: var( --e-global-color-secondary );
            padding: 0px 0px 0px 0px;
        }
    }
}