@mixin btn {
  font-size: rem(22px);
  height: $input-height;
  line-height: $input-height - 2;
  white-space: nowrap;
  padding: 0 20px;
  text-decoration: none !important;
  display: inline-block;
  font-weight: bold;
  //-webkit-font-smoothing: antialiased;
  text-align: center;
  text-shadow: none;
  border: 0;
  position: relative;
  border-radius: 0;
  min-width: 160px;
  @include st-transition();

  &.btn-block,
  &.btn-fullwidth {
    width: 100% !important;
  }
}

.btn {
  @include btn;
}
.gform_wrapper {
  border: 1px solid #D0C7BE;
  padding: 60px 70px;
  .has_first_name {
    span {
      padding-right: 0px !important;
    }
  }
  textarea {
    padding: 10px !important;
  }
  .textarea, input[type=text], input[type=tel], input[type=email], input[type=number] {
    background: transparent;
    border: 1px solid #D0C7BE; 
    color: #D0C7BE;
  }
  .ginput_container_date input {
    width: 100% !important;
    min-width: 100%;
}
  input[type=checkbox]{
    width: 15px !important;
    height: 15px;
    background: transparent !important;
    border-width: 1px;
    border-radius: 0px;
    border-color: var( --e-global-color-primary );
  }
  .gfield_checkbox {
    div {
      width: 35%!important;
      float: left;
      label {
        padding-left: 25px;
      }
    }
  }
  .gfield-choice-input {
    margin-top: -5px !important;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #D0C7BE;
    opacity: 1; /* Firefox */
  }
  input[type=submit].gform_button.button {
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: normal;
    border: none;
    line-height: 22px;
    text-transform: uppercase;
    color: var( --e-global-color-secondary );
    background-color: transparent;
  }
}
form {
  position: relative;

  .gform_footer {
    position: absolute;
    right: 42px;
    bottom: -12px;
    &::after {
      content: '';
      background: url(/wp-content/themes/elementor-starter/assets/images/icon-link.svg);
      width: 35px;
      height: 33px;
      background-repeat: no-repeat;
      background-size: contain;
      transform: translate(8px, 11px);
      transition: all 0.3s;
      position: absolute;
      right: -36px;
      bottom: 28px;
    }
    &:hover::after {
      background: url(/wp-content/themes/elementor-starter/assets/images/icon-a-hover.svg);
      -webkit-transform: translate(15px, 11px); 
      -o-transform: translate(15px, 11px);
      transform: translate(15px, 11px);
      background-repeat: no-repeat;
      background-size: contain;
      width: 35px;
      height: 33px;
    }
  }
}
.confirmation-box {
  text-align: center;
  .h3 {
    font-family: 'Gill Sans';
    font-size: 16px;
  }
  .btn {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--e-global-color-secondary);
    margin-top: 23px;
  }
}
.elementor-location-popup {
  .gform_wrapper {
    border: none;
    .gform_body.gform-body {
      margin-top: 30px;
    }
    .gform_footer {
      position: absolute;
      right: 42px;
      bottom: -17px;
    }
    .ginput_container.ginput_container_consent {
      margin-top: 35px;
      font-size: 16px;
    }
  }
}