.admin-bar [data-elementor-type=header] {
    top: 32px;
}

[data-elementor-type="header"] {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
}

#mega-menu-wrap-primary_menu #mega-menu-primary_menu {
    text-align: center;
}

#mega-menu-wrap-primary_menu #mega-menu-primary_menu>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu ul.mega-sub-menu {
    padding-top: 0px;
    margin-left: 0 !important;
    opacity: 0 !important;
    visibility: hidden;
    display: block !important;
    transition: all 0.25s ease-in-out 0s;
    transform: translateX(-10px);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#mega-menu-wrap-primary_menu_mobile #mega-menu-primary_menu_mobile>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu li.mega-menu-item,
#mega-menu-wrap-primary_menu #mega-menu-primary_menu>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu li.mega-menu-item {
    width: 100%;
    margin-left: calc((100vw - var(--mg-container-size)) / 2);
    position: static;
    padding: 0;

    a {
        font-size: 60px;
        font-family: 'Oranienbaum';
        text-transform: capitalize;
        color: #D0C7BE;
        opacity: 0.6;
        font-weight: normal;
        max-width: fit-content;

        &:hover {
            opacity: 1;
            font-size: 60px;
            font-family: 'Oranienbaum';
            text-transform: capitalize;
            color: #D0C7BE;
            font-weight: normal;
        }
    }
}

#mega-menu-wrap-primary_menu #mega-menu-primary_menu>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu {
    padding: 50px;
    padding-top: 195px;
    padding-bottom: 140px;
    top: -105px;
    overflow: hidden;
    z-index: -1;
}

#mega-menu-wrap-primary_menu #mega-menu-primary_menu>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu li.mega-menu-item>ul.mega-sub-menu li.mega-menu-item a {
    color: #D0C7BE;
    font-weight: normal !important;
    font-size: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}

#mega-menu-wrap-primary_menu #mega-menu-primary_menu>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu>li.mega-menu-item>a.mega-menu-link:focus {
    color: #D0C7BE;
    font-weight: normal;
    font-size: 60px;
    opacity: 1;
}

#mega-menu-wrap-primary_menu_mobile #mega-menu-primary_menu_mobile>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu li.mega-menu-item.mega-menu-item-has-children>.mega-menu-link>span.mega-indicator,
#mega-menu-wrap-primary_menu #mega-menu-primary_menu>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu li.mega-menu-item.mega-menu-item-has-children>.mega-menu-link>span.mega-indicator {
    display: inline-block;
    transition: all 0.25s ease-in-out 0s;
}

#mega-menu-wrap-primary_menu #mega-menu-primary_menu>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu li.mega-menu-item:hover>.mega-sub-menu,
#mega-menu-wrap-primary_menu #mega-menu-primary_menu>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu li.mega-menu-item.mega-toggle-on>.mega-sub-menu,
#mega-menu-wrap-primary_menu_mobile #mega-menu-primary_menu_mobile>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu li.mega-menu-item:hover>.mega-sub-menu,
#mega-menu-wrap-primary_menu_mobile #mega-menu-primary_menu_mobile>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu li.mega-menu-item.mega-toggle-on>.mega-sub-menu {
    transition: all 0.25s ease-in-out 0s;
    opacity: 1 !important;
    visibility: visible;
    transform: translateX(0);
}

/*#mega-menu-wrap-primary_menu_mobile #mega-menu-primary_menu_mobile>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu>li.mega-menu-item>ul.mega-sub-menu,
#mega-menu-wrap-primary_menu #mega-menu-primary_menu>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu>li.mega-menu-item>ul.mega-sub-menu {
    left: 43%;
    padding-top: 195px;
}*/

#custom-hamburger .elementor-nav-menu--dropdown.elementor-nav-menu__container {
    opacity: 0;
    transition: opacity 200ms ease-in, visibility 200ms ease-in !important;
    z-index: -1;
    margin-top: 0px;
    top: -21px !important;
    padding-top: 195px;
    padding-bottom: 75px;

    .menu-item {
        margin-left: 10%;
        a {
            letter-spacing: 1px !important;
        }
    }
}

#custom-hamburger.elementor-nav-menu--toggle .elementor-menu-toggle.elementor-active+.elementor-nav-menu__container {
    opacity: 1;
}

#mega-menu-wrap-primary_menu #mega-menu-primary_menu li.mega-menu-item-has-children>a.mega-menu-link>span.mega-indicator:after {
    display: none;
    right: 0px;
}

#mega-menu-wrap-primary_menu #mega-menu-primary_menu>li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-item ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
    left: 20%;
    padding-top: 200px;
}
#mega-menu-wrap-primary_menu #mega-menu-primary_menu>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu, #mega-menu-wrap-primary_menu_mobile #mega-menu-primary_menu_mobile>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu {
    --mg-column-max-width: 360px;
    --mg-container-size: 1200px;

    @media (min-width: 1200px) {
      --mg-column-max-width: 25vw;
      --mg-container-size: 100vw;
    }

    @media (min-width: 1600px) {
      --mg-column-max-width: 380px;
      --mg-container-size: 1520px;
    }
}
#mega-menu-wrap-primary_menu #mega-menu-primary_menu>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu>li.mega-menu-item>ul.mega-sub-menu {
    left: calc(67vw - var(--mg-container-size)/2 + var(--mg-column-max-width));
    padding-top: 195px;
    @include media-breakpoint-up(xxl) {
        left: calc(50vw - var(--mg-container-size)/2 + var(--mg-column-max-width));
        padding-top: 195px;
    }
}
#mega-menu-wrap-primary_menu #mega-menu-primary_menu>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu ul.mega-sub-menu, #mega-menu-wrap-primary_menu_mobile #mega-menu-primary_menu_mobile>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu ul.mega-sub-menu {
    position: absolute;
    top: 0;
    left: var(--mg-column-max-width);
    width: 100%;
    max-width: var(--mg-column-max-width);
    height: 100%;
    padding-top: 195px;
    display: block!important;
}
#mega-menu-wrap-primary_menu #mega-menu-primary_menu>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu li.mega-menu-item:hover>.mega-menu-link, #mega-menu-wrap-primary_menu #mega-menu-primary_menu>li.mega-menu-megamenu.custom-mega>ul.mega-sub-menu li.mega-menu-item.mega-toggle-on>.mega-menu-link {
    opacity: 1;
}
#mega-menu-wrap-primary_menu #mega-menu-primary_menu > li.mega-menu-megamenu.custom-mega > ul.mega-sub-menu li.mega-menu-item.mega-toggle-on > .mega-sub-menu li.mega-menu-item .mega-menu-link .mega-indicator{
    display: none !important;
}
#mega-menu-wrap-primary_menu #mega-menu-primary_menu > li.mega-menu-item.mega-toggle-on > a.mega-menu-link:after {
    background-image: url(/wp-content/themes/elementor-starter/assets/images/icon-under-menu.svg);
    background-size: contain;
    z-index: 99999 !important;
    position: absolute;
    bottom: -14px;
    left: 48%;
    display: block !important;
    width: 15px;
    height: 15px;
    content: '';
}
#mega-menu-wrap-primary_menu #mega-menu-primary_menu > li.mega-menu-item {
    padding: 0px 25px;
}