.woocommerce-page {
  background: linear-gradient(#000 0%, #0a3254 100%);
  .page-content {
    padding-left: 10%;
    padding-right: 10%;
  }
  main {
    margin-top: 12%;
  }

  form.cart .button, #payment #place_order, .woocommerce-page #payment #place_order {
    font-family: 'Gill Sans';
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
    fill: var(--e-global-color-accent);
    color: var(--e-global-color-accent) !important;
    background-color: var(--e-global-color-secondary) !important;
    border-radius: 0px 0px 0px 0px;
    padding: 10px 25px 10px 025px;
    margin-left: 25px;
  }

  form.checkout.woocommerce-checkout {
    color: black;
  }
  .woocommerce-checkout #payment {
    background: transparent;
    border-radius: 0px;
    .payment-wrapper {
      margin: 50px 0px;
      border: 1px solid white;
      min-height: 352px;
  }
}
  .woocommerce-billing-fields, .woocommerce-additional-fields, div#order_review{
    border: 1px solid #D0C7BE;
    padding: 50px;
  }
  div#order_review {
    margin: 50px 0px;
    color: white;
  }
  form .form-row {
    input.input-text, textarea {
      background: transparent;
      border: 1px solid var(--e-global-color-secondary);
      padding: 15px;
      color: white;
    }
  }
  form.checkout.woocommerce-checkout {
    h3 {
      color: var( --e-global-color-secondary );
    }
  }
  .quantity .qty {
    background: transparent;
    border: 1px solid var(--e-global-color-secondary);
    max-width: 55px;
    text-align: center;
    padding: 6px;
    color: var(--e-global-color-secondary);
    font-family: 'Oranienbaum';
    font-size: 23px;
  }
  div#customer_details {
    color: white;
}
  .ywgc-form-preview-amount {
    color: white;
    line-height: 48px;
    font-size: 20px;
  }
  span.woocommerce-input-wrapper {
    width: 100%;
    #order_comments{
      min-height: 257px;
    }
  }
  .product-type-gift-card .woocommerce-product-gallery__image {
    padding: 0px;
  }

  .product-type-gift-card .woocommerce-product-gallery__wrapper {
    box-shadow: none;
    border: 1px solid var(--e-global-color-secondary);
  }

  .ywgc-main-form-preview-container {
    box-shadow: none;
    padding: 40px;
  }

  .ywgc-form-preview-title {
    font-family: 'Oranienbaum';
    font-size: 40px;
    line-height: 45px;
    color: var(--e-global-color-secondary);
    font-weight: normal;
  }

  input#ywgc-manual-amount {
    width: 74%;
    background: transparent;
    border: 1px solid var(--e-global-color-secondary) !important;
    padding-left: 10px;
    color: white;
  }

  .woocommerce-product-details__short-description {
    max-width: 80%;
  }
  .ywgc-form-preview-from-to-container {
    font-size: 18px;
}
.ywgc-form-preview-message-container {
  margin-top: 30px;
  font-style: italic;
}
.ywgc-form-preview-separator {
  width: 50%;
  height: 3px;
  background-color: var(--e-global-color-secondary);
}
  .gift-card-content-editor.step-content {
    border: 1px solid var(--e-global-color-secondary);
    padding: 40px;

    h5 {
      margin-top: 0px;
      font-family: 'Gill Sans';
      color: var(--e-global-color-secondary);
      &.ywgc-sender-info-title {
        margin-top: 30px !important;
      }
    }

    input {
      background: transparent;
      border: 1px solid var(--e-global-color-secondary);
      padding-left: 10px;
      color: white;
    }
    textarea {
      background: transparent;
      border: 1px solid var(--e-global-color-secondary);
      padding-left: 10px;
      color: white;
    }
  }
  h3.ywgc_delivery_info_title {
    color: var(--e-global-color-secondary);
}

  .gift-cards-list {
    margin-top: 50px;

    .amount {
      padding: 9px;
      background: transparent;
      border: 1px solid var(--e-global-color-secondary);
    }

    .ywgc-predefined-amount-button.selected_button {
      background-color: transparent;
      border: none;
    }

    .ywgc-amount-buttons {
      background: transparent;
      border: none;
    }

    button.ywgc-predefined-amount-button.selected_button {
      color: var(--e-global-color-secondary);
    }

    .ywgc_select_amount_title {
      color: var(--e-global-color-secondary);
      margin-bottom: 30px;
    }
  }
}